.item {
  background-color: #c92d22;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 30px;
}
.head {
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
}
.para {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
}
